# Database Configuration
MONGO_URI=mongodb://localhost:27017/Stayfinder

# Cloudinary Configuration
CLOUD_NAME=doe8ybkzu
CLOUD_API_KEY=284438776918459
CLOUD_API_SECRET=Pzxiq-02mIE4mRugfvPbe69ZGmM

# JWT Configuration
JWT_SECRET_KEY=bc3f5ac6e602472783a83570c94d2ed9565d8e5506dca2a2017ff576d3d37ac2
JWT_ACCESS_TOKEN_EXPIRES=3600

# # Google OAuth Configuration
# GOOGLE_CLIENT_ID=1093124740630-d0hrg91s430gqdqi9bdcs472jbsihcbm.apps.googleusercontent.com
# GOOGLE_CLIENT_SECRET=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

# # Facebook OAuth Configuration
# FACEBOOK_CLIENT_ID=878104011378728
# FACEBOOK_CLIENT_SECRET=58bc712502c8f9c75894d1bf00a0ea2c

# Flask Configuration
FLASK_ENV=development
SECRET_KEY=f4240d24c4002fd34fa28aa7aefb3c7a55063e1e0deb3f98bd70140a1e30f429
